<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Autenticación</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p class="flash">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

     <!-- Formulario único -->
    <div class="formulario">
      <h2>Autenticación</h2>
      <form action="/autenticacion" method="post">
        <label>Usuario:</label>
        <input type="text" name="usuario" required><br>

        <label>Contraseña:</label>
        <input type="password" name="contrasena" required><br>

        <select name="accion" required>
          <option value="login">Iniciar Sesión</option>
          <option value="registro">Registrarse</option>
        </select><br><br>

        <button type="submit">Aceptar</button>
      </form>
    </div>
  </div>
</body>
</html>
